/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --primary-color: #5d54a4;
}

html,
body,
input,
button {
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body {
  background-color: #dae0f0;
}

.p-button-icon {
  color: var(--primary-color);
}

/* header */
.p-menubar {
  background: #fff;
  border-radius: 0px;
  border: none;
}

.breadcrumb {
  background: white;
  display: flex;
  align-items: center;
}

ol.breadcrumb {
  font-size: 20px !important;
  margin: 0px;
}

.breadcrumb-cursor {
  cursor: pointer;
}

/* main */
.main-content {
  margin: 10px;
}

/* header */
.p-menubar {
  height: 67px !important;
  background: white;
  box-shadow: 0px 2px 6px -2px rgba(221, 216, 216, 0.75);
  -webkit-box-shadow: 0px 2px 6px -2px rgba(221, 216, 216, 0.75);
  -moz-box-shadow: 0px 2px 6px -2px rgba(221, 216, 216, 0.75);

  display: flex;
  align-items: center;
}

/* sidebar */
@media only screen and (min-width: 800px) {
  .sidebar-open {
    margin-left: 20rem;
  }

  .sidebar-close {
    margin-left: 0px;
  }
}

.p-sidebar-header {
  display: flex !important;
  justify-content: center !important;
  height: 60px !important;
  padding: 0px 20px !important;
}

.header-title {
  padding-top: 40px;
}

.p-sidebar {
  background: var(--primary-color);
}

.p-panelmenu {
  width: auto !important;

  .p-panelmenu-panel .p-panelmenu-header .p-panelmenu-header-content {
    background-color: var(--primary-color) !important;
    border: none;
  }

  .p-panelmenu-panel .p-panelmenu-header .p-panelmenu-header-content a {
    background-color: var(--primary-color) !important;
    border-radius: 6px !important;
    height: 30px !important;

    &:hover {
      background: #2c3344 !important;
    }

    &:focus {
      background: transparent !important;
      box-shadow: none !important;
    }

    &:focus-visible {
      background: transparent !important;
      box-shadow: none !important;
    }
  }

  .p-menuitem-link {
    background: var(--primary-color) !important;
    border-radius: 6px !important;
    padding: 10px 16px !important;
  }

  .p-icon-wrapper,
  .p-menuitem-text,
  .p-menuitem-icon {
    color: #ffffff !important;
  }

  .p-panelmenu-header-link,
  .p-panelmenu-content {
    background: var(--primary-color) !important;
    border: none !important;
    border-radius: 6px !important;
    padding: 10px 16px !important;
    font-size: 13px !important;
  }

  .p-panelmenu-header-link,
  .p-menuitem-link {
    &:hover {
      background: #2c3344 !important;
    }

    &:focus {
      background: transparent !important;
      box-shadow: none !important;
    }

    &:focus-visible {
      background: transparent !important;
      box-shadow: none !important;
    }
  }
}

.p-menuitem-content:hover {
  background: #2c3344 !important;
  border: none !important;
  border-radius: 6px !important;
}

/* general */
.pagetitle {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #009688;
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 10px;
}
.card-body {
  padding: 10px;
}
